node_modules
/artifacts
/bin
/cache
/coverage
/coverage.json
/gasReporterOutput.json
/typechain-types
/.openzeppelin

.idea
.vscode

package.json
package-lock.json

/.husky
/*.env
/.env.example
/.eslintignore
/.gitignore
/.npmrc
/.prettierignore
/.solhintignore
